<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Scittle's Emmy Viewers Demo</title>
        <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/computer-modern@0.1.2/cmu-serif.css">
        <link rel="stylesheet" href="https://unpkg.com/mafs@0.18.8/core.css">
        <link rel="stylesheet" href="https://unpkg.com/mafs@0.18.8/font.css">
        <link rel="stylesheet" href="https://unpkg.com/mathbox@2.3.1/build/mathbox.css">
        <link rel="stylesheet" href="https://unpkg.com/mathlive@0.85.1/dist/mathlive-static.css">
        <link rel="stylesheet" href="https://unpkg.com/mathlive@0.85.1/dist/mathlive-fonts.css">
        <link rel="stylesheet" href="/style.css">
        <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
        <script src="/js/scittle.js"></script>
        <script src="/js/scittle.reagent.js"></script>
        <script src="/js/scittle.emmy.js"></script>
        <script src="/js/scittle.emmy-viewers.js"></script>
        <script src="/js/scittle.pprint.js"></script>
        <script src="/cljs/util.cljs" type="application/x-scittle"></script>
    </head>
    <body>
        <div class="max-width-3 mx-auto p2 bg-white border rounded center">