{:deps {io.github.babashka/http-server {:git/sha "e203166a020509d126149ff8046489857ce5c89f"}
        org.babashka/cli {:mvn/version "0.2.23"}
        io.github.babashka/sci.nrepl {:mvn/version "0.0.2"}
        io.github.scittle/build {:local/root "build"}}
 :tasks
 {:requires ([babashka.cli :as cli])
  :init (def cli-opts (cli/parse-opts *command-line-args* {:coerce {:port :int :headers :edn}}))

  shadow:watch {:doc "Development build. Starts webserver and watches for changes."
                :task (build/build {:action "watch"
                                    :args *command-line-args*})}

  nrepl {:doc "Start nrepl server and websocket server"
         :requires ([sci.nrepl.browser-server :as nrepl])
         :task (do (nrepl/start! {:nrepl-port 2339 :websocket-port 2340})
                   (deref (promise)))}

  serve {:doc "Serve static assets"
         :requires ([babashka.http-server :as server])
         :task (server/exec (merge {:port 2341
                                    :dir "./public"}
                                   cli-opts))}

  prn {:task (println "Your BB clojure version is" *clojure-version*)}

  -dev {:depends [nrepl serve prn]}

  dev {:task (run '-dev {:parallel true})}}}
